## Technical Workshop

- Team up and apply the concepts that you have learned in pandas to access, manipulate and analyze data
- Tinker around with the dataset to answer a series of questions
- Save your group notebook and submit with the following format: `workshop_group_<#>.ipynb`
- Duration: 1 hour

### Olympics Agency

You and your teammates are working in the Data Science department of a renowned Sports Agency that primarily focuses on the Olympics. Consultants and journalists reach out to your team for key insights to fulfill their upcoming prints and marketing stints.

Thankfully you have access to the relevant dataset, and of course your newly acquired Python Pandas skills.

#### Available Datasets

| **Dataset**      | **Notes**      |
| ------------- | ------------- |
| [olympics_bios.csv](data/olympics_bios.csv) | Contains basic biographical data of Olympians since 1960s |
| [noc_regions.csv](data/noc_regions.csv) | Contains records of National Olympic Committees |
| [olympics_results.csv](data/olympics_results.csv) | Contains all records of Olympic events and the corresponding results |

In [243]:
import pandas as pd

olympics_bios = pd.read_csv('./data/olympics_bios.csv')
noc = pd.read_csv('./data/noc_regions.csv')
olympics_results = pd.read_csv('./data/olympics_results.csv')

##### Preview Olympics Biography dataset:

In [244]:
olympics_bios.sample(5)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
45273,45617,André Teixeira,1974-04-24,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,192.0,78.0,NaN
61225,61670,Burkhard Cordes,1939-05-15,Darmstadt,Hessen,GER,Brazil,177.0,75.0,NaN
96520,97297,Horst Schneider,1939-02-13,Lienz,Tirol,AUT,Austria,178.0,76.0,NaN
53047,53422,Les Nunn,1942-01-25,NaN,NaN,NaN,Australia,181.0,89.0,NaN
69956,70477,Herbert Schade,1922-05-26,Solingen,Nordrhein-Westfalen,GER,Germany,179.0,65.0,1994-03-01

##### Preview NOC Region dataset:

In [245]:
noc.sample(5)

     NOC   region        notes
224  YAR    Yemen  North Yemen
184  SOM  Somalia          NaN
135  MLT    Malta          NaN
20   BEN    Benin          NaN
160  PLW    Palau          NaN

##### Preview Olympics Results dataset:

In [246]:
olympics_results.sample(5)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
121053,1984.0,Summer,Weightlifting,"Flyweight, Men (Olympic)",Zeng Guoqiang,55403,CHN,NaN,1.0,False,Gold
137808,1924.0,Summer,Athletics,"200 metres, Men (Olympic)",Cyril Coaffee,65997,CAN,NaN,6.0,False,NaN
101069,1952.0,Summer,Swimming (Aquatics),"100 metres Backstroke, Women (Olympic)",Anneli Haaranen,46601,FIN,NaN,15.0,False,NaN
105271,2000.0,Summer,Diving (Aquatics),"Springboard, Women (Olympic)",Orsolya Pintér,48129,HUN,NaN,25.0,False,NaN
132309,1996.0,Summer,Sailing,"Two Person Dinghy, Men (Olympic)",Zsolt Nyári,63152,HUN,Botond Litkey,21.0,False,NaN

#### I. Filipino Sporting Triumphs

The Filipino Olympic Committee has commissioned our agency to highlight their athletic achievements since the turn of the millennium. Your task is to compile a list of unique sports disciplines where Pinoy athletes have left their mark since the year 2000. Moreover, which amongst these sports disciplines did they produce promising results in (i.e bagged any type of medals)?

In [247]:
# Write your code here

#### II. The Big Five

Sports journalists are crafting a new magazine that features __*"The Big Five"*__. They reached out your team seeking information on the global power rankings in Olympic history. What are the top 5 countries that bagged the most Gold medals?

In [248]:
# Write your code here

#### III. BMI Influence in Medal Success

General coaching staff from various professional athelete management firms seek to understand correlation of body composition and performance outcome in a given field of sports. Your team was asked to provide data on the average BMI of gold medalists per discipline.

##### BMI formula

<img src="images/bmi_formula.png" alt="BMI Formula" width="500" />

##### Standard BMI classification

<img src="images/bmi_class.png" alt="BMI Formula" width="500" />

In [249]:
# Write your code here