## Technical Workshop

- Team up and apply the concepts that you have learned in pandas to access, manipulate and analyze data
- Tinker around with the dataset to answer a series of questions
- Save your group notebook and submit with the following format: `workshop_group_<#>.ipynb`
- Duration: 1 hour

### Olympics Agency

You and your teammates are working in the Data Science department of a renowned Sports Agency that primarily focuses on the Olympics. Consultants and journalists reach out to your team for key insights to fulfill their upcoming prints and marketing stints.

Thankfully you have access to the relevant dataset, and of course your newly acquired Python Pandas skills.

#### Available Datasets

| **Dataset**      | **Notes**      |
| ------------- | ------------- |
| [olympics_bios.csv](data/olympics_bios.csv) | Contains basic biographical data of Olympians since 1960s |
| [noc_regions.csv](data/noc_regions.csv) | Contains records of National Olympic Committees |
| [olympics_results.csv](data/olympics_results.csv) | Contains all records of Olympic events and the corresponding results |

In [1]:
import pandas as pd

olympic_bios = pd.read_csv('./data/olympics_bios.csv')
noc = pd.read_csv('./data/noc_regions.csv')
olympic_results = pd.read_csv('./data/olympics_results.csv')

In [25]:
olympic_bios.sample(5)

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54814,55208,Wilhelm Pankl,1915-04-25,NaN,NaN,NaN,Austria,NaN,NaN,2002-03-22
61279,61724,Rob D'Alton,1923-02-22,Dublin,Dublin,IRL,Ireland,178.0,68.0,1996-08-17
61936,62391,Dave Howard,1918-03-05,Port Arthur,Ontario,CAN,Canada,NaN,NaN,2023-01-21
42880,43205,Seo Gang-Uk,1929-03-26,Hapcheon,Gyeongsangnam,KOR,Republic of Korea,164.0,57.0,NaN
48852,49208,Alonso Mariscal,1914-01-25,Ciudad de México (Mexico City),Ciudad de México,MEX,Mexico,178.0,NaN,1959-01-31

In [26]:
noc.sample(5)

     NOC    region         notes
15   BAH   Bahamas           NaN
90   HUN   Hungary           NaN
143  NBO  Malaysia  North Borneo
72   GAB     Gabon           NaN
110  KOS    Kosovo           NaN

In [27]:
olympic_results.sample(5)

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
140241,1988.0,Summer,Athletics,"50 kilometres Race Walk, Men (Olympic)",Manuel Alcalde,67150,ESP,NaN,25.0,False,NaN
67406,1948.0,Summer,Artistic Gymnastics (Gymnastics),"Individual All-Around, Men (Olympic)",Nicanor Villarreal,30730,MEX,NaN,122.0,False,NaN
63547,1964.0,Summer,Artistic Gymnastics (Gymnastics),"Parallel Bars, Men (Olympic)",Philipp Fürst,30250,GER,NaN,25.0,True,NaN
122820,1924.0,Summer,Weightlifting,"Middleweight, Men (Olympic)",Albert Aeschmann,56666,SUI,NaN,5.0,False,NaN
10236,1992.0,Summer,Basketball (Basketball),"Basketball, Men (Olympic)",Shane Heal,6267,AUS,Australia,6.0,False,NaN

#### I. Filipino Sporting Triumphs

The Filipino Olympic Committee has commissioned our agency to highlight their athletic achievements since the turn of the millennium. Your task is to compile a list of unique sports disciplines where Pinoy athletes have left their mark since the year 2000. Moreover, which amongst these sports disciplines did they produce promising results in (i.e bagged any type of medals)?

#### II. The Big Five

Sports journalists are crafting a new magazine that features __*"The Big Five"*__. They reached out your team seeking information on the global power rankings in Olympic history. What are the top 5 countries that bagged the most Gold medals?

#### III. BMI Influence in Medal Success

General coaching staff from various professional athelete management firms seek to understand correlation of body composition and performance outcome in a given field of sports. Your team was asked to provide data on the average BMI of gold medalists per discipline.

> Use the formula BMI = weight (kg) / (height (m) ^ 2) to calculate BMI